@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.reward {
  justify-content: space-between;
  color: black;
  display: flex;
  margin: 2em;
  align-items: center;
  width: 26em;
  border-radius: 14px;
}
.reward > img {
  border-radius: 14px;
}

.reward_wrap {
  display: flex;
  flex-wrap: wrap;

}

.explanation > div:first-child {
  font-size: larger;
  font-weight: 800;
}

.explanation > div:nth-child(2) {

}

.sponsor_logo {
  display: flex;
  align-items: start;
  flex-direction: column;
}

